body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#PageHeader1
{
   background-color: #FFA500;
   background-image: none;
   box-sizing: border-box;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text13 div
{
   text-align: center;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 100px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 400px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/cairo-stars.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 480px;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 20px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid4
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid4
{
   box-sizing: border-box;
   padding: 0px 5px 10px 5px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid4 > .row
{
   margin-right: -5px;
   margin-left: -5px;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 5px;
   padding-left: 5px;
   position: relative;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   float: left;
}
#LayoutGrid4 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid4:before,
#LayoutGrid4:after,
#LayoutGrid4 .row:before,
#LayoutGrid4 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid4:after,
#LayoutGrid4 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 10px solid #4169E1;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 480px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image3
{
   margin: 0;
   vertical-align: top;
}
#Image3
{
   border: 10px solid #4169E1;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 480px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 10px solid #4169E1;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 480px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Shape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Shape2
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Shape3
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape3
{
   border-width: 0;
   vertical-align: top;
}
#wb_LayoutGrid5
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #4169E1;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid5
{
   box-sizing: border-box;
   padding: 50px 15px 15px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid5 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid5 > .row > .col-1
{
   float: left;
}
#LayoutGrid5 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid5:before,
#LayoutGrid5:after,
#LayoutGrid5 .row:before,
#LayoutGrid5 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid5:after,
#LayoutGrid5 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid5 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#NewsFeedTicker1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   margin: 0;
   text-align: center;
}
#NewsFeedTicker1 .headline
{
   position: absolute;
   padding: 0px;
   height: 100%;
   margin: 0 0 8px 0;
   top: 110%;
   box-sizing: border-box;
   padding: 8px;
   width: 100%;
   overflow: hidden;
   font-family: Cairo;
   font-weight: normal;
   font-size: 21px;
   color: #FFFFFF;
   font-style: normal;
   text-decoration: none;
}
#NewsFeedTicker1 h4
{
   margin-top: 0;
   display: block;
   margin: 0;
   font-family: Arial;
   font-weight: bold;
   font-size: 13px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#NewsFeedTicker1 h4 a
{
   color: #000000;
   text-decoration: none;
}
#NewsFeedTicker1 .publication-date
{
   margin-bottom: 0px;
   font-family: Cairo;
   font-weight: normal;
   font-size: 20px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#NewsFeedTicker1 .news-wait
{
   position: absolute;
   top: 30%;
   left: 50%;
   width: 32px;
   height: 32px;
   margin-left: -10px;
   z-index: 4;
}
#NewsFeedTicker1
{
   display: block;
   float: left;
   position: relative;
   width: 100%;
   box-sizing: border-box;
   height: 102px;
}
#wb_LayoutGrid6
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid6
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid6 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   float: left;
}
#LayoutGrid6 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 41.66666667%;
   text-align: center;
}
#LayoutGrid6 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 58.33333333%;
   text-align: left;
}
#LayoutGrid6:before,
#LayoutGrid6:after,
#LayoutGrid6 .row:before,
#LayoutGrid6 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid6:after,
#LayoutGrid6 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 3px solid #000000;
   border-radius: 25px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 420px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text7
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text8
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text9
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text10
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_LayoutGrid7
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid7
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid7 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid7 > .row > .col-1
{
   float: left;
}
#LayoutGrid7 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid7 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 40px 0px 40px 0px;
}
#LayoutGrid7:before,
#LayoutGrid7:after,
#LayoutGrid7 .row:before,
#LayoutGrid7 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid7:after,
#LayoutGrid7 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid7 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid8
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 480px;
}
#LayoutGrid8 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1, #LayoutGrid8 > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .row > .col-1, #LayoutGrid8 > .row > .col-2
{
   float: left;
}
#LayoutGrid8 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#LayoutGrid8 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 40px 0px 40px 0px;
}
#LayoutGrid8 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 50%;
   text-align: left;
}
#LayoutGrid8 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 40px 0px 40px 0px;
}
#LayoutGrid8:before,
#LayoutGrid8:after,
#LayoutGrid8 .row:before,
#LayoutGrid8 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid8:after,
#LayoutGrid8 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid8 > .row > .col-1, #LayoutGrid8 > .row > .col-2
{
   float: none;
   width: 100% !important;
}
}
#Editbox2
{
   border: 2px solid #000000;
   background-color: #FFFFFF;
   background-image: none;
   color: #999999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 16px;
   padding: 20px 20px 20px 20px;
   margin: 0px 0px 20px 0px;
   text-align: left;
}
#Editbox2::placeholder
{
   color: #999999;
   opacity: 1;
}
#Editbox2::-ms-input-placeholder
{
   color: #999999;
}
#Editbox3
{
   border: 2px solid #000000;
   background-color: #FFFFFF;
   background-image: none;
   color: #999999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 18px;
   padding: 20px 20px 20px 20px;
   margin: 0px 0px 20px 0px;
   text-align: left;
}
#Editbox3::placeholder
{
   color: #999999;
   opacity: 1;
}
#Editbox3::-ms-input-placeholder
{
   color: #999999;
}
#Editbox4
{
   border: 2px solid #000000;
   background-color: #FFFFFF;
   background-image: none;
   color: #999999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   line-height: 18px;
   padding: 20px 20px 20px 20px;
   margin: 0px 0px 20px 0px;
   text-align: left;
}
#Editbox4::placeholder
{
   color: #999999;
   opacity: 1;
}
#Editbox4::-ms-input-placeholder
{
   color: #999999;
}
#TextArea1
{
   border: 2px solid #000000;
   background-color: #FFFFFF;
   background-image: none;
   color: #999999;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 16px;
   box-sizing: border-box;
   padding: 20px 20px 20px 20px;
   margin: 0px 0px 20px 0px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#TextArea1::placeholder
{
   color: #999999;
   opacity: 1;
}
#TextArea1::-ms-input-placeholder
{
   color: #999999;
}
#wb_LayoutGrid9
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid9
{
   box-sizing: border-box;
   padding: 20px 15px 40px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#LayoutGrid9 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid9 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid9 > .row > .col-1
{
   float: left;
}
#LayoutGrid9 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#LayoutGrid9:before,
#LayoutGrid9:after,
#LayoutGrid9 .row:before,
#LayoutGrid9 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid9:after,
#LayoutGrid9 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid9 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Button2
{
   border: 1px solid #28ABE3;
   border-radius: 4px;
   background-color: #28ABE3;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 0;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#wb_Shape4
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape4
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape4
{
   margin: 0;
   -webkit-animation: push 1000ms linear 0ms infinite normal, push 1000ms linear 0ms infinite normal;
   animation: push 1000ms linear 0ms infinite normal, push 1000ms linear 0ms infinite normal;
}
#wb_Shape5
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#Shape5
{
   border-width: 0;
   vertical-align: top;
}
#wb_Shape5
{
   margin: 0;
   -webkit-animation: push 1000ms linear 0ms infinite normal;
   animation: push 1000ms linear 0ms infinite normal;
}
#wb_IconFont2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   -webkit-animation: push 1000ms linear 0ms infinite normal both;
   animation: push 1000ms linear 0ms infinite normal both;
   vertical-align: top;
}
#wb_IconFont2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont2
{
   height: 44px;
   width: 47px;
}
#IconFont2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 44px;
   line-height: 44px;
   vertical-align: middle;
   width: 33px;
}
#wb_IconFont2:hover i
{
   color: #FFFFFF;
}
#PageHeader2
{
   background-color: #00A0C0;
   background-image: none;
   box-sizing: border-box;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#Layer2
{
   background-color: #FBFBFB;
   background-image: none;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text14 div
{
   text-align: center;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#wb_IconFont1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   text-align: center;
   margin: 0;
   padding: 0;
   -webkit-animation: push 1000ms linear 0ms infinite normal both;
   animation: push 1000ms linear 0ms infinite normal both;
   vertical-align: top;
}
#wb_IconFont1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#IconFont1
{
   height: 28px;
   width: 40px;
}
#IconFont1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 21px;
}
#wb_IconFont1:hover i
{
   color: #FFFFFF;
}
#wb_LayoutGrid10
{
   clear: both;
   position: fixed;
   left: 0;
   bottom: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid10
{
   box-sizing: border-box;
   padding: 0px 15px 0px 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid10 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid10 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid10 > .row > .col-1
{
   float: left;
}
#LayoutGrid10 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: left;
}
#LayoutGrid10:before,
#LayoutGrid10:after,
#LayoutGrid10 .row:before,
#LayoutGrid10 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid10:after,
#LayoutGrid10 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid10 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_Shape4
{
   position: absolute;
   left: 28px;
   top: -1997px;
   width: 125px;
   height: 36px;
   z-index: 26;
}
#Layer2_Container
{
   width: 444px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Shape5
{
   position: absolute;
   left: 28px;
   top: -2051px;
   width: 127px;
   height: 34px;
   z-index: 27;
}
#Editbox2
{
   display: block;
   width: 100%;
   height: 60px;
   z-index: 19;
}
#Shape1
{
   width: 114px;
   height: 34px;
}
#Editbox3
{
   display: block;
   width: 100%;
   height: 62px;
   z-index: 20;
}
#Shape2
{
   width: 114px;
   height: 34px;
}
#Editbox4
{
   display: block;
   width: 100%;
   height: 62px;
   z-index: 21;
}
#Shape3
{
   width: 114px;
   height: 34px;
}
#wb_Image1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 0;
}
#Shape4
{
   width: 125px;
   height: 36px;
}
#wb_Image2
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 4;
}
#Shape5
{
   width: 127px;
   height: 34px;
}
#Layer2
{
   position: fixed;
   text-align: center;
   left: 50%;
   margin-left: -222px;
   top: auto;
   bottom: 0px;
   width: 444px;
   height: 39px;
   z-index: 43;
}
#NewsFeedTicker1
{
   overflow: hidden;
   height: 102px;
   z-index: 16;
}
#wb_Image3
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 8;
}
#TextArea1
{
   display: block;
   width: 100%;
   height: 225px;
   z-index: 22;
}
#wb_Image4
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 12;
}
#wb_IconFont1
{
   position: absolute;
   left: 46px;
   top: 53px;
   width: 40px;
   height: 28px;
   text-align: center;
   z-index: 31;
}
#wb_Image5
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 17;
}
#wb_IconFont2
{
   position: absolute;
   left: -8px;
   top: -2215px;
   width: 47px;
   height: 44px;
   text-align: center;
   z-index: 28;
}
#wb_Text11
{
   position: absolute;
   left: 10px;
   top: 10px;
   width: 130px;
   height: 24px;
   text-align: center;
   z-index: 30;
}
#PageHeader1
{
   position: absolute;
   text-align: left;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 34px;
   z-index: 44;
}
#wb_Text13
{
   position: absolute;
   left: 10px;
   top: 10px;
   width: 94px;
   height: 67px;
   text-align: center;
   z-index: 25;
}
#PageHeader2
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 49px;
   z-index: 44;
}
#wb_Text14
{
   position: absolute;
   left: -8px;
   top: -2215px;
   width: 112px;
   height: 24px;
   text-align: center;
   z-index: 29;
}
#Button2
{
   display: inline-block;
   width: 192px;
   height: 50px;
   z-index: 23;
}
#wb_Shape1
{
   display: inline-block;
   width: 114px;
   height: 34px;
   z-index: 6;
   position: relative;
}
#wb_Shape2
{
   display: inline-block;
   width: 114px;
   height: 34px;
   z-index: 10;
   position: relative;
}
#PageHeader2_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Shape3
{
   display: inline-block;
   width: 114px;
   height: 34px;
   z-index: 14;
   position: relative;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#PageHeader1
{
   top: 0px;
   height: 34px;
   visibility: hidden;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#PageHeader1
{
   width: 100%;
}
#wb_Text13
{
   left: 309px;
   top: 20px;
   width: 94px;
   height: 67px;
   visibility: visible;
   display: inline;
}
#wb_Text13
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid1
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid1
{
   padding: 50px 15px 15px 15px;
}
#LayoutGrid1 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid1 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Image1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid2
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid2
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid2
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid2 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid2 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text2
{
   visibility: visible;
   display: block;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   visibility: visible;
   display: block;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid3
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid3
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid3
{
   padding: 20px 15px 25px 15px;
}
#LayoutGrid3 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid3 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_LayoutGrid4
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid4
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid4
{
   padding: 10px 25px 10px 25px;
}
#LayoutGrid4 .row
{
   margin-right: -25px;
   margin-left: -25px;
}
#LayoutGrid4 > .row > .col-1, #LayoutGrid4 > .row > .col-2, #LayoutGrid4 > .row > .col-3
{
   padding-right: 25px;
   padding-left: 25px;
}
#LayoutGrid4 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid4 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid4 > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Image2
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Image3
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Image4
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   visibility: visible;
   display: block;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Shape1
{
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#wb_Text5
{
   visibility: visible;
   display: block;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Shape2
{
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#wb_Text6
{
   visibility: visible;
   display: block;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Shape3
{
   visibility: visible;
   display: inline-block;
   margin: 0;
}
#wb_LayoutGrid5
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid5
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid5
{
   padding: 50px 15px 15px 15px;
}
#LayoutGrid5 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid5 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid5 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#NewsFeedTicker1
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
}
#wb_LayoutGrid6
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid6
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid6
{
   padding: 25px 15px 0px 15px;
}
#LayoutGrid6 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid6 > .row > .col-1, #LayoutGrid6 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid6 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid6 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: left;
}
#wb_Image5
{
   width: 100%;
   visibility: visible;
   display: block;
   margin: 0;
   padding: 0;
}
#Image5
{
   border-radius: 15px;
}
#wb_Text7
{
   visibility: visible;
   display: block;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text8
{
   visibility: visible;
   display: block;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text9
{
   visibility: visible;
   display: block;
}
#wb_Text9
{
   margin: 0;
   padding: 0;
}
#wb_Text10
{
   visibility: visible;
   display: block;
}
#wb_Text10
{
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid7
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid7
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid7
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid7 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid7 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid7 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid7 > .row > .col-1 > .col-1-padding
{
   width: 100%;
   padding: 40px 0px 40px 0px;
}
#wb_LayoutGrid8
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid8
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid8
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid8 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid8 > .row > .col-1, #LayoutGrid8 > .row > .col-2
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid8 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid8 > .row > .col-1 > .col-1-padding
{
   width: 100%;
   padding: 40px 0px 40px 0px;
}
#LayoutGrid8 > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#LayoutGrid8 > .row > .col-2 > .col-2-padding
{
   width: 100%;
   padding: 40px 0px 40px 0px;
}
#Editbox2
{
   width: 100%;
   height: 60px;
   visibility: visible;
   display: block;
   margin: 0px 0px 20px 0px;
   padding: 20px 20px 20px 20px;
   text-align: left;
}
#Editbox2
{
   line-height: -4px;
}
#Editbox3
{
   width: 100%;
   height: 62px;
   visibility: visible;
   display: block;
   margin: 0px 0px 20px 0px;
   padding: 20px 20px 20px 20px;
   text-align: left;
}
#Editbox3
{
   line-height: -2px;
}
#Editbox4
{
   width: 100%;
   height: 62px;
   visibility: visible;
   display: block;
   margin: 0px 0px 20px 0px;
   padding: 20px 20px 20px 20px;
   text-align: left;
}
#Editbox4
{
   line-height: -2px;
}
#TextArea1
{
   width: 100%;
   height: 225px;
   visibility: visible;
   display: block;
   margin: 0px 0px 20px 0px;
   padding: 20px 20px 20px 20px;
   text-align: left;
}
#wb_LayoutGrid9
{
   visibility: visible;
   display: table;
}
#wb_LayoutGrid9
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid9
{
   padding: 20px 15px 40px 15px;
}
#LayoutGrid9 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid9 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid9 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#Button2
{
   width: 192px;
   height: 50px;
   visibility: visible;
   display: inline-block;
   margin: 0;
   padding: 0;
   font-size: 13px;
   font-family: Cairo;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#wb_Shape4
{
   left: 85px;
   top: 14px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_Shape5
{
   left: 85px;
   top: 57px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_IconFont2
{
   left: 44px;
   top: 63px;
   width: 40px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   background-color: transparent;
   background-image: none;
}
#IconFont2
{
   width: 40px;
   height: 28px;
}
#IconFont2 i
{
   line-height: 28px;
   font-size: 28px;
   width: 21px;
}
#wb_IconFont2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
}
#PageHeader2
{
   top: 0px;
   height: 49px;
   visibility: visible;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#PageHeader2
{
   width: 100%;
}
#PageHeader2_Container
{
   width: 480px;
}
#wb_Text1
{
   visibility: visible;
   display: block;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#Layer2
{
   width: 480px;
   height: 107px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
   background-color: #303030;
   background-image: none;
}
#Layer2_Container
{
   width: 480px;
}
#wb_Text14
{
   left: 212px;
   top: 23px;
   width: 110px;
   height: 23px;
   visibility: visible;
   display: inline;
}
#wb_Text14
{
   margin: 0;
   padding: 0;
}
#wb_Text11
{
   left: 212px;
   top: 66px;
   width: 110px;
   height: 23px;
   visibility: visible;
   display: inline;
}
#wb_Text11
{
   margin: 0;
   padding: 0;
}
#wb_IconFont1
{
   left: 44px;
   top: 20px;
   width: 40px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#IconFont1
{
   width: 40px;
   height: 28px;
}
#IconFont1 i
{
   line-height: 28px;
   font-size: 28px;
   width: 21px;
}
#wb_LayoutGrid10
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: 0;
   font-style: normal;
   text-decoration: none;
}
#wb_LayoutGrid10
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#LayoutGrid10
{
   padding: 0px 15px 0px 15px;
}
#LayoutGrid10 .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid10 > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#LayoutGrid10 > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
}
